body{
	background: url("pizzaabt.jpg");
	background-repeat: no-repeat center center center;
	
/*	background-size: cover;
*/	font-family: sans-serif;
}

header{
	width : 80%;
	margin: auto;
	overflow: hidden;
}



.head{
	float: left;
	color: #fff;
	font-family: cursive;

}


nav{
	float: right;
}

li{
	display: inline-flex;
	padding: 1rem;
}

li a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.active{
	color: gold;
}

.secondnav{
	float: left;
}

/*.secondnav > ul > li:hover{
	text-decoration: none;
	border-bottom: 2px solid orange;
}*/
a{
	color: white;
}

a:link {
  color: red;
}

a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;

}

td {
  padding: 10px 0;
}